<section class="container-md mx-auto text-center p-10">
  <div
    class="flex flex-col-reverse gap-5 md:flex-row md:items-center md:justify-around mt-10"
  >
    <div class="mt-5 flex flex-col gap-8 px-16">
      <h2 class="text-4xl text-green-700 font-bold">Historia</h2>
      <p class="mt-5 text-lg">
        En 1900 solo se tienen registros de haber seguido con la construcción de
        la iglesia, ya que en el año ya mencionado ya se tenia construida la
        capilla de la virgen de Guadalupe que conocemos actualmente. En 1920 se
        realiza la primer fiesta a San Sebastián con musica, dos bandas de la
        región de Cuacnopalan que llevaron el nombre de Banda Los Reyes y Banda
        Los Garcia. El 19 de julio de 1976 fue eregida la Parroquia de
        Cuacnopalan bajo el patrocinio de San Sebastián Mártir. Fue eregida por
        su excelencia reverendísima don Rafael Ayala y Ayala. Dando posesion de
        la misma al Sr. Cura Don Nicolás Aguilar, primer párroco de San
        Sebastián Mártir, Cuacnopalan.Antiguamente era una comunidad filial a la
        Parroquia de San Agustín del Palmar de Bravo
      </p>
      <a
        href=""
        class="boton"
        >Ver más</a
      >
    </div>

    <img
      src="/img/transporte.jpg"
      alt="Transporte"
      class="w-4/5 mx-auto md:w-2/5 order-last"
    />
  </div>
</section>

<style>
  .boton {
    @apply bg-green-700 hover:bg-green-900 transition text-white font-bold text-base px-10 py-2 rounded-md my-5 block sm:w-auto sm:inline-block;
  }
</style>
