<section class="container-md mx-auto text-center p-10">
  <div
    class="flex flex-col-reverse gap-5 md:flex-row md:items-center md:justify-around mt-10"
  >
    <div class="mt-5 flex flex-col gap-8 px-16 order-last">
      <h2 class="text-4xl text-amber-900 font-bold">Transporte</h2>
      <p class="mt-5 text-lg">
        Cuacnopalan brinda un servicio muy extenso en Transporte, cuenta con
        linea de combis (L2), base de mototaxis, servicio de taxis y también el
        AU. Puedes llegar a multiples destinos.
      </p>
      <a
        href="TransportePage"
        class="boton"
        >Ver más</a
      >
    </div>

    <img
      src="/img/transporte.jpg"
      alt="Transporte"
      class="w-4/5 mx-auto md:w-2/5"
    />
  </div>
</section>

<style>
  .boton {
    @apply bg-amber-900 hover:bg-amber-950 transition text-white font-bold text-base px-10 py-2 rounded-md my-5 block sm:w-auto sm:inline-block;
  }
</style>
